.loginContainer{
    width: 100%;
    height: 92vh;
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=600); */
    background: linear-gradient(to top, rgba(128, 115, 115, 0.7) 0%, rgba(117, 108, 108, 0.7) 100%),url('https://images.pexels.com/photos/1482476/pexels-photo-1482476.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .9;
    font-family:"candara",sans-serif;
}


.navbar{
    width: 100%;
    position: sticky;
    top: 0;
}

.bolde{
    font-size: 40px;
    margin-left: 3rem;
}

.sidebarLogo{
    text-decoration: none;
}

.loginWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88vh;
}

.LoginTitle{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .3rem;
    text-align: start;
    width: 100%;
}

.logintitleText{
    font-size: .8rem;
    color: black;
    text-align: start;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.loginForm{
    width: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid green;
    background: rgba(255, 255, 255, 0.596);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.66);
}


.inputFields{
    width: 100%;
    margin: .5rem; 
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1px;
    display: flex;
    align-items: center;
}

.inputs{
    width: 17vw;
    padding: 8px 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    background: none;
    color: #333;
    font-family:"candara",sans-serif;

}

.inputs::placeholder{
    font-weight: bold;
    color: #333;
    font-family:"candara",sans-serif;

}

.btn{
    width: 100%;
    cursor: pointer;
    padding: .5rem;
    border-radius: 25px;
    margin: 7px 0px;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    background-color: rgb(56, 56, 201);
    border: 1px solid #999;
}

.newUser{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.newUser b{
    color: rgb(56, 56, 201);
    cursor: pointer;
}

.eye{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.pwdfgt{
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: start;
    margin-bottom: .5rem;
    margin-top: .3rem;
    font-weight: bold;
    color: rgb(56, 56, 201);
}
